[submodule "infra"]
	path = infra
	url = https://github.com/biya-bi/nguiland-infra.git
[submodule "ostock"]
	path = ostock
	url = https://github.com/biya-bi/ostock.git
[submodule "libs/lib-parent"]
	path = libs/lib-parent
	url = https://github.com/biya-bi/nguiland-lib-parent.git
[submodule "libs/io-utils"]
	path = libs/io-utils
	url = https://github.com/biya-bi/nguiland-io-utils.git
[submodule "microservices/config-service"]
	path = microservices/config-service
	url = https://github.com/biya-bi/nguiland-config-service.git
[submodule "microservices/gateway-service"]
	path = microservices/gateway-service
	url = https://github.com/biya-bi/nguiland-gateway-service.git
[submodule "microservices/eureka-service"]
	path = microservices/eureka-service
	url = https://github.com/biya-bi/nguiland-eureka-service.git
